## Setup & Imports

In [1]:
import pandas as pd
import glob
import os
import re

# For feature engineering
from sklearn.preprocessing import LabelEncoder

## Load the Data

In [2]:
# Path to csv data folder
path = '..\data\cvs_data'

# Get all CSV files
all_files = glob.glob(os.path.join(path, "*.csv"))

# Combine all files into one DataFrame
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

# Info on the DataFrame
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Section     4007 non-null   object
 1   Number      4007 non-null   int64
 2   Mode        4007 non-null   object
 3   Title       4007 non-null   object
 4   Satifies    1615 non-null   object
 5   Unit        4007 non-null   float64
 6   Type        4007 non-null   object
 7   Days        4007 non-null   object
 8   Times       4007 non-null   object
 9   Instructor  4007 non-null   object
 10  Location    3945 non-null   object
 11  Dates       4007 non-null   object
 12  Seats       4007 non-null   int64
 13  Year        4007 non-null   int64
 14  Semester    4007 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 469.7+ KB

,Section,Number,Mode,Title,Satifies,Unit,Type,Days,Times,Instructor,Location,Dates,Seats,Year,Semester
0,BIOL 10 (Section 01),40529,In Person,The Living World,GE: B2,3.0,LEC,TR,09:00AM-10:15AM,Allison Harness,SCI164,08/19/22-12/06/22,59,2022,Fall
1,BIOL 10 (Section 03),40060,In Person,The Living World,GE: B2,3.0,LEC,MW,10:30AM-11:45AM,Phillip Hawkins,SCI164,08/19/22-12/06/22,42,2022,Fall
2,BIOL 10 (Section 04),47603,Fully Online,The Living World,GE: B2,3.0,LEC,TBA,TBA,Phillip Hawkins,ONLINE,08/19/22-12/06/22,6,2022,Fall
3,BIOL 10 (Section 99),41828,Fully Online,The Living World,GE: B2,3.0,LEC,TBA,TBA,Mary Poffenroth,ONLINE,08/19/22-12/06/22,1,2022,Fall
4,CHEM 1A (Section 01),40081,In Person,General Chemistry,GE: B1+B3,5.0,LEC,MWF,09:30AM-10:20AM,Resa Kelly,SCI142,08/19/22-12/06/22,0,2022,Fall

# Feature Selection Notes

### Dropped Features
Course Number, Title, Satisfies, Unit, Location, Dates, Seats  
→ Not relevant for modeling and can be removed.

### Kept and Important Features
- **Section**: Used to extract the course name  
- **Mode**: Shows if the course is In Person, Fully Online, or Hybrid  
- **Type**: Shows if the course is a Lecture, Seminar, or Lab  
- **Days**: Needed for student scheduling  
- **Times**: Needed for student scheduling  
- **Year**: Used to give more weight to recent years  
- **Semester**: Important because some courses are only offered in certain semesters

In [3]:
# Extract the Course name from Section
df['Course'] = df['Section'].str.extract(r"^([A-Z]+\s*\d+)")

# Only inlcude useful features
cols = ['Course', 'Mode', 'Type', 'Times', 'Year', 'Semester', 'Instructor']
df = df[cols]
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 7 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Course      4007 non-null   object
 1   Mode        4007 non-null   object
 2   Type        4007 non-null   object
 3   Times       4007 non-null   object
 4   Year        4007 non-null   int64
 5   Semester    4007 non-null   object
 6   Instructor  4007 non-null   object
dtypes: int64(1), object(6)
memory usage: 219.3+ KB

    Course          Mode Type            Times  Year Semester       Instructor
0  BIOL 10     In Person  LEC  09:00AM-10:15AM  2022     Fall  Allison Harness
1  BIOL 10     In Person  LEC  10:30AM-11:45AM  2022     Fall  Phillip Hawkins
2  BIOL 10  Fully Online  LEC              TBA  2022     Fall  Phillip Hawkins
3  BIOL 10  Fully Online  LEC              TBA  2022     Fall  Mary Poffenroth
4   CHEM 1     In Person  LEC  09:30AM-10:20AM  2022     Fall       Resa Kelly

### Feature Engineering: Mode

In [4]:
print(df['Mode'].unique())
print()
print(df['Mode'].value_counts())

# Manually label encoding for mode
# Tree-based models don't care about numeric order, so we don't need one-hot encoding
mode_map = {
    'In Person': 0,
    'Hybrid': 1,
    'Fully Online': 2
}
df['Mode'] = df['Mode'].map(mode_map)
df.head()

['In Person' 'Fully Online' 'Hybrid']

Mode
In Person       3544
Fully Online     366
Hybrid            97
Name: count, dtype: int64

    Course  Mode Type            Times  Year Semester       Instructor
0  BIOL 10     0  LEC  09:00AM-10:15AM  2022     Fall  Allison Harness
1  BIOL 10     0  LEC  10:30AM-11:45AM  2022     Fall  Phillip Hawkins
2  BIOL 10     2  LEC              TBA  2022     Fall  Phillip Hawkins
3  BIOL 10     2  LEC              TBA  2022     Fall  Mary Poffenroth
4   CHEM 1     0  LEC  09:30AM-10:20AM  2022     Fall       Resa Kelly

### Feature Engineering: Type

In [5]:
print(df['Type'].unique())
print()
print(df['Type'].value_counts())

type_map = {
    'LAB': 0,
    'LEC': 1,
    'SEM': 2
}
df['Type'] = df['Type'].map(type_map)
df.head()

['LEC' 'SEM' 'LAB']

Type
LAB    1650
LEC    1474
SEM     883
Name: count, dtype: int64

    Course  Mode  Type            Times  Year Semester       Instructor
0  BIOL 10     0     1  09:00AM-10:15AM  2022     Fall  Allison Harness
1  BIOL 10     0     1  10:30AM-11:45AM  2022     Fall  Phillip Hawkins
2  BIOL 10     2     1              TBA  2022     Fall  Phillip Hawkins
3  BIOL 10     2     1              TBA  2022     Fall  Mary Poffenroth
4   CHEM 1     0     1  09:30AM-10:20AM  2022     Fall       Resa Kelly

### Feature Engineering: Term (Year x Semester)

In [6]:
print(df['Year'].unique())
print()
print(df['Year'].value_counts())

print('-------------')

print(df['Semester'].unique())
print()
print(df['Semester'].value_counts())

semester_map = {'Fall': 0, 'Spring': 1}
df['Semester'] = df['Semester'].map(semester_map)

# Term is year x semester
df['Term'] = df['Year'] * 10 + df['Semester']

df.head()

[2022 2023 2024 2025]

Year
2024    1191
2022    1127
2023    1115
2025     574
Name: count, dtype: int64
-------------
['Fall' 'Spring']

Semester
Spring    2160
Fall      1847
Name: count, dtype: int64

,Course,Mode,Type,Times,Year,Semester,Instructor,Term
0,BIOL 10,0,1,09:00AM-10:15AM,2022,0,Allison Harness,20220
1,BIOL 10,0,1,10:30AM-11:45AM,2022,0,Phillip Hawkins,20220
2,BIOL 10,2,1,TBA,2022,0,Phillip Hawkins,20220
3,BIOL 10,2,1,TBA,2022,0,Mary Poffenroth,20220
4,CHEM 1,0,1,09:30AM-10:20AM,2022,0,Resa Kelly,20220

### Feature Engineering: Times

In [7]:
t = df['Times'].astype('string').str.upper().str.strip()
tba = t.eq('TBA')

parts = t.str.partition('-')           # columns: 0=start, 1='-', 2=end
start_dt = pd.to_datetime(parts[0], format='%I:%M%p', errors='coerce')
end_dt   = pd.to_datetime(parts[2], format='%I:%M%p', errors='coerce')

df['Start_Min'] = (start_dt.dt.hour*60 + start_dt.dt.minute).mask(tba)
df['End_Min']   = (end_dt.dt.hour*60 + end_dt.dt.minute).mask(tba)
df.loc[~tba & (df['End_Min'] < df['Start_Min']), 'End_Min'] += 24*60
df['Is_TBA']    = tba.astype('int8')

df.head()

,Course,Mode,Type,Times,Year,Semester,Instructor,Term,Start_Min,End_Min,Is_TBA
0,BIOL 10,0,1,09:00AM-10:15AM,2022,0,Allison Harness,20220,540.0,615.0,0
1,BIOL 10,0,1,10:30AM-11:45AM,2022,0,Phillip Hawkins,20220,630.0,705.0,0
2,BIOL 10,2,1,TBA,2022,0,Phillip Hawkins,20220,NaN,NaN,1
3,BIOL 10,2,1,TBA,2022,0,Mary Poffenroth,20220,NaN,NaN,1
4,CHEM 1,0,1,09:30AM-10:20AM,2022,0,Resa Kelly,20220,570.0,620.0,0

In [8]:
# Drop features we already engineering to avoid double couting
cols_to_drop = ['Times', 'Semester', 'Year'] 
df = df.drop(columns=cols_to_drop, errors='ignore')

# Fill NaNs with a sentinel so trees can handle them
df[['Start_Min', 'End_Min']] = df[['Start_Min', 'End_Min']].fillna(-1)

df.head()

    Course  Mode  Type       Instructor   Term  Start_Min  End_Min  Is_TBA
0  BIOL 10     0     1  Allison Harness  20220      540.0    615.0       0
1  BIOL 10     0     1  Phillip Hawkins  20220      630.0    705.0       0
2  BIOL 10     2     1  Phillip Hawkins  20220       -1.0     -1.0       1
3  BIOL 10     2     1  Mary Poffenroth  20220       -1.0     -1.0       1
4   CHEM 1     0     1       Resa Kelly  20220      570.0    620.0       0

# Decision Tree

In [9]:
import matplotlib.pyplot as plt
from sklearn.tree import DecisionTreeClassifier, plot_tree

# Define X and y (exclude text columns unless encoded)
X = df[['Mode', 'Type', 'Term', 'Start_Min', 'End_Min', 'Is_TBA']]
y = df['Instructor']

# Fit the model
clf = DecisionTreeClassifier(random_state=42)
clf.fit(X, y)

DecisionTreeClassifier(random_state=42)