In [1]:
import pandas as pd
import glob
import os
import re

# Path to csv data folder
path = '..\data\cvs_data'

# Get all CSV files
all_files = glob.glob(os.path.join(path, "*.csv"))

# Combine all files into one DataFrame
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

# Info on the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Section     4007 non-null   object
 1   Number      4007 non-null   int64
 2   Mode        4007 non-null   object
 3   Title       4007 non-null   object
 4   Satifies    1615 non-null   object
 5   Unit        4007 non-null   float64
 6   Type        4007 non-null   object
 7   Days        4007 non-null   object
 8   Times       4007 non-null   object
 9   Instructor  4007 non-null   object
 10  Location    3945 non-null   object
 11  Dates       4007 non-null   object
 12  Seats       4007 non-null   int64
 13  Year        4007 non-null   int64
 14  Semester    4007 non-null   object
dtypes: float64(1), int64(3), object(11)
memory usage: 469.7+ KB

In [2]:
# Extract the Course name from Section
df['Course'] = df['Section'].str.extract(r"^([A-Z]+\s*\d+)")

In [3]:
# Only inlcude useful features
cols = ['Course', 'Mode', 'Type', 'Instructor', 'Year', 'Semester']
df = df[cols]
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4007 entries, 0 to 4006
Data columns (total 6 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Course      4007 non-null   object
 1   Mode        4007 non-null   object
 2   Type        4007 non-null   object
 3   Instructor  4007 non-null   object
 4   Year        4007 non-null   int64
 5   Semester    4007 non-null   object
dtypes: int64(1), object(5)
memory usage: 188.0+ KB

    Course          Mode Type       Instructor  Year Semester
0  BIOL 10     In Person  LEC  Allison Harness  2022     Fall
1  BIOL 10     In Person  LEC  Phillip Hawkins  2022     Fall
2  BIOL 10  Fully Online  LEC  Phillip Hawkins  2022     Fall
3  BIOL 10  Fully Online  LEC  Mary Poffenroth  2022     Fall
4   CHEM 1     In Person  LEC       Resa Kelly  2022     Fall