In [1]:
import pandas as pd
import glob
import os

# Path to csv data folder
path = '..\data\cvs_data'

# Get all CSV files
all_files = glob.glob(os.path.join(path, "*.csv"))

# Combine all files into one DataFrame
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

# Info on the DataFrame
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Section     590 non-null    object
 1   Number      590 non-null    int64
 2   Mode        590 non-null    object
 3   Title       590 non-null    object
 4   Satifies    257 non-null    object
 5   Unit        590 non-null    float64
 6   Type        590 non-null    object
 7   Days        590 non-null    object
 8   Times       590 non-null    object
 9   Instructor  590 non-null    object
 10  Location    587 non-null    object
 11  Dates       590 non-null    object
 12  Seats       590 non-null    int64
 13  Year        590 non-null    int64
 14  Semester    590 non-null    object
dtypes: float64(1), int64(3), object(11)
memory usage: 69.3+ KB

In [2]:
import re

df['Course'] = df['Section'].str.extract(r"^([A-Z]+\s*\d+)")
df.drop(columns='Section', inplace=True)

In [3]:
cols = ['Course', 'Mode', 'Type', 'Days', 'Times', 'Instructor', 'Year', 'Semester']
df = df[cols]
df.info()
df.head()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 590 entries, 0 to 589
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Course      590 non-null    object
 1   Mode        590 non-null    object
 2   Type        590 non-null    object
 3   Days        590 non-null    object
 4   Times       590 non-null    object
 5   Instructor  590 non-null    object
 6   Year        590 non-null    int64
 7   Semester    590 non-null    object
dtypes: int64(1), object(7)
memory usage: 37.0+ KB

,Course,Mode,Type,Days,Times,Instructor,Year,Semester
0,BIOL 10,In Person,LEC,TR,09:00AM-10:15AM,Allison Harness,2022,Fall
1,BIOL 10,In Person,LEC,MW,10:30AM-11:45AM,Phillip Hawkins,2022,Fall
2,BIOL 10,Fully Online,LEC,TBA,TBA,Phillip Hawkins,2022,Fall
3,BIOL 10,Fully Online,LEC,TBA,TBA,Mary Poffenroth,2022,Fall
4,CHEM 1,In Person,LEC,MWF,09:30AM-10:20AM,Resa Kelly,2022,Fall