In [1]:
import pandas as pd

# Path to csv data folder
path = r'..\data\cvs_data'

# Get all CSV files
all_files = glob.glob(os.path.join(path, "*.csv"))

# Combine all files into one DataFrame
df = pd.concat((pd.read_csv(f) for f in all_files), ignore_index=True)

In [2]:
df.head()

,Section,Number,Mode,Title,Satifies,Unit,Type,Days,Times,Instructor,Location,Dates,Seats,Year,Semester
0,BIOL 10 (Section 01),22045,In Person,The Living World,GE: 5B,3,LEC,TR,01:30PM-02:45PM,Allison Harness,DH135,01/23/25-05/12/25,35,2025,Spring
1,BIOL 10 (Section 02),26892,In Person,The Living World,GE: 5B,3,LEC,TR,03:00PM-04:15PM,Allison Harness,DH135,01/23/25-05/12/25,49,2025,Spring
2,BIOL 10 (Section 81),23567,Fully Online,The Living World,GE: 5B,3,LEC,TBA,TBA,Allison Harness,ONLINE,01/23/25-05/12/25,6,2025,Spring
3,BIOL 10 (Section 99),21337,Fully Online,The Living World,GE: 5B,3,LEC,TBA,TBA,Mary Poffenroth,ONLINE,01/23/25-05/12/25,5,2025,Spring
4,CHEM 1A (Section 01),24936,In Person,General Chemistry,GE: 5A+5C,5,LEC,MWF,09:30AM-10:20AM,Melody Esfandiari,SCI142,01/23/25-05/12/25,0,2025,Spring

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 574 entries, 0 to 573
Data columns (total 15 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Section     574 non-null    object
 1   Number      574 non-null    int64
 2   Mode        574 non-null    object
 3   Title       574 non-null    object
 4   Satifies    220 non-null    object
 5   Unit        574 non-null    int64
 6   Type        574 non-null    object
 7   Days        574 non-null    object
 8   Times       574 non-null    object
 9   Instructor  574 non-null    object
 10  Location    564 non-null    object
 11  Dates       574 non-null    object
 12  Seats       574 non-null    int64
 13  Year        574 non-null    int64
 14  Semester    574 non-null    object
dtypes: int64(4), object(11)
memory usage: 67.4+ KB